[project]
	description = WebSocket based, NodeJS chat application for the purposes of 5th edition of WarsawJS Workshops
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Kamil Grabek (G3F4)
[access "refs/for/refs/*"]
	read = group user/Kamil Grabek (G3F4)
	push = group user/Kamil Grabek (G3F4)
	label-Code-Review = -2..+2 group user/Kamil Grabek (G3F4)
	label-Verified = -1..+1 group user/Kamil Grabek (G3F4)
	rebase = group user/Kamil Grabek (G3F4)
	removeReviewer = group user/Kamil Grabek (G3F4)
	submit = group user/Kamil Grabek (G3F4)
[access "refs/heads/*"]
	read = group user/Kamil Grabek (G3F4)
	create = group user/Kamil Grabek (G3F4)
	push = +force group user/Kamil Grabek (G3F4)
	pushMerge = group user/Kamil Grabek (G3F4)
[access "refs/tags/*"]
	push = group user/Kamil Grabek (G3F4)
	push = +force group user/Kamil Grabek (G3F4)
